@media screen and (min-width: 961px) and (max-width: 1920px){
	body{
		overflow-x: hidden;
		width: 100vw;
	}

	.logo-text{
		width: 190px;
		margin-bottom: 295px;
	}

	.header{
		background-image: url(../img/football_1920.jpg);
		background-position: center;
	}

	.header__container{
		font-size: 90px;

		padding-right: 10vw;
		padding-left: 10vw;
	}

	.slogan__container{
		margin: 0;

		align-self: normal;
		align-items: start !important;
	}
	.header__slogan{
		font-size: 4.7vw; /*90px*/
		line-height: 1;

		width: 100%;
	}
	.header__slogan > .part-1{
		margin: 0;
	}
	.header__slogan > .part-2{
		margin: 0;
		margin-bottom: 225px;
		padding-left: 27%;
	}


	.button_store{
		font-size: 14px;

		width: 310px;
		height: 77px;
	}
	.button-store__button-icon{
		width: 43px;
		margin-right: 28px;
	}
	.button__container{
		display: flex;
	}
	.button_store{
		padding: 0;
	}
	.button_store:first-child{
		margin-right: 15px;
	}
	.button_store:last-child{
		margin-left: 15px;
	}

	.block__title{
		font-size: 80px;
		padding-left: 52vw;
	}

	.article__number{
		font-size: 18px;
		margin-top: 8px;
	}

	.article__title{
		font-size: 36px;
	}

	.article{
		padding-left: 52vw;
	}
	.article__text{
		font-size: 20px;
	}

	.basketballer > .block__title{
		margin-top: 122px;
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 0;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 10vw;
	}
	.basketballer > .article{
		padding-top: 45px;
		padding-right: 51vw;
		padding-bottom: 40px;
		padding-left: 10vw;
	}

	.content__block.basketballer{
		display: flex;
		flex-direction: column;
	}
	.basketballer > .block__title{
		order: 0;
	}


	#foolballer{
		float: left;

		width: 570px;
		height: 906px;
		margin-top: -190px;
		margin-left: calc(50% - 570px);

		background-image: url(../img/footballer_566.png);
	}
	#basketballer{
		position: absolute;

		width: 995px;
		height: 815px;
		margin-left: 42vw; /*812px*/

		background-image: url(../img/basketballer_991.png);
	}


	.content__block.be-active,
	.content__block.find-contact,
	.content__block.work-it{
		display: flex;
		margin-bottom: -5px;
		flex-wrap: wrap;
	}

	.block__image_about{
		width: 50%;
	}
	.block__image_about > img{
		width: 100%;
	}

	.article__number_square{
		top: 8.6vw;
		left: calc(-8.8vw/2);

		width: 8.8vw;
		height: 8vw;
	}
	.article__number.square{
		font-size: 24px;
		margin-top: 0;
	}

	.article__title_down{
		font-size: 4vw;
	}

	.have-to-be{
		font-size: 24px;
	}

	.top-margin{
		box-sizing: border-box;
		width: 50%;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 0;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 150px;
		padding-left: 0;
	}

	.article__title_down,
	.have-to-be{
		margin-top: 0;
		margin-right: 11vw;
		margin-left: 6.8vw;
	}

	.mirror > .block__image_about{
		order: 1;
	}

	.mirror > .top-margin > .article__title_down,
	.mirror > .top-margin > .have-to-be{
		margin-right: 7vw; /* 133px */
		margin-left: 10vw; /* 195px */
	}

	.mirror > .top-margin > .article__number_square{
		left: calc(100vw/2 - 8.8vw/2);
	}


	.footer__container{
		justify-content: flex-end;
	}
	.footer{
		padding-top: 0;
	}

	.logo__wrapper{
		display: flex;
		
		margin-top: 230px;
		margin-bottom: 140px;

		justify-content: center;
		align-items: center;
	}

	.footer__logo{
		box-sizing: border-box;
		width: 6.8vw;
		height: 6.8vw;
		margin: 0;
		padding-top: 0.8vw;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0.7vw;
	}
	.logo{
		width: 5.5vw;
	}


	.footer__slogan{
		margin-left: 35px;
	}
	.footer__slogan.part-1{
		font-size: 4.2vw;
	}
	.footer__slogan.part-2{
		font-size: 1.6vw;
		margin-bottom: 0;
	}

	.footer__container > .logo-text{
		margin-bottom: 52px;
	}

	.footer__container > .button__container > .button_store{
		margin-bottom: 260px;
	}
}