@media screen and (min-width: 641px) and (max-width: 960px){

	.logo-text{
		width: 205px;
		margin-bottom: 180px;
	}

	.header__container,
	.footer__container{
		font-size: 64px;
	}

	.header__slogan{
		line-height: 1;
		font-size: 64px;
		width: 630px;
	}
	.header__slogan > .part-1{
		/*margin-left: 90px;*/
		margin-top: 0;
	}
	.header__slogan > .part-2{
		margin-top: 0;
		padding-left: 100px;
		margin-bottom: 310px;
	}

	.button_store{
		height: 77px;
		width: 310px;
		font-size: 14px;
	}
	.button-store__button-icon{
		width: 43px;
		margin-right: 28px;
	}
	.button__container{
		display: flex;
	}
	.button_store{
		padding: 0;
	}	
	.button_store:first-child{
		margin-right: 15px;
	}
	.button_store:last-child{
		margin-left: 15px;
	}







	.block__title{
		font-size: 80px;
		margin-left: 293px;
		padding: 0;
	}
	.article__number{
		font-size: 18px;
		margin-top: 5px;
	}
	.article{
		padding-right: 33px;
		padding-left: 293px;
		padding-bottom: 44px;
		padding-top: 44px;
	}

	.basketballer >.block__title{
		margin-right: 355px;
		margin-left: 33px;
	}
	.basketballer > .article{
		padding-right: 355px;
		padding-left: 32px;
		padding-bottom: 40px;
		padding-top: 45px;
	}

	.article__title{
		font-size: 32px;
	}
	.article__text{
		font-size: 16px;
	}
	.article.part-1{
		background-color: #fff;
	}

	.content__block.basketballer{
		display: flex;
		flex-direction: column;
	}
	.basketballer > .block__title{
		order: 0;
	}

	#foolballer{
		height: 590px;
		width: 405px;
		background-image: url(../img/footballer_497.png);
		margin-left: -140px;
		margin-bottom: -645px;

	}
	#basketballer{
		height: 565px;
		width: 430px;
		background-image: url(../img/basketballer_436.png);
		margin-left: calc(100% - 430px);
		margin-bottom: -571px;

		background-size: contain;
		background-repeat: no-repeat;
	}

	.article__title_down{
		/*font-size: 80px;*/
		font-size: 10vw;
		margin: 0;
	}
	.article__number_square{
		width: 115px;
		height: 115px;

		top: 0;
	}

	.top-margin{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;

		padding-left: 32px;
		padding-right: 78px;
		padding-bottom: 100px;
		margin-top: -78px;
	}

	.have-to-be{
		font-size: 24px;
	}









	.footer__container{
		justify-content: flex-end;
	}
	.footer{
		height: 960px;

		padding-top: 0;
	}

	.footer__logo{
		margin: 0px auto 85px;

		width: 130px;
		height: 130px;

		padding-left: 13px;
		padding-top: 15px;
		padding-right: 0;
		padding-bottom: 0;


		box-sizing: border-box;
	}
	.logo{
		width: 105px;
	}


	.footer__slogan{
		
	}
	.footer__slogan.part-1{
		/*font-size: 80px;*/
		font-size: 10vw;
	}
	.footer__slogan.part-2{
		/*font-size: 36px;*/
		font-size: 4.7vw;
		margin-bottom: 285px;
	}

	.footer__container > .logo-text{
		margin-bottom: 23px;
	}

	.footer__container > .button__container >.button_store{
		margin-bottom: 55px;
	}
}